<header class="content-hero">
    <img src="/images/TheFieldlogo.png" alt="The Field Logo">
</header>


<div class='content-container'>

    <form id='post-and-comment'>

        <div class='main-post' data-postid="{{category_id}}">
            <input class='post'
            placeholder='Add your post here...'>
        </div>

        <button type='submit' class='add-post'>Add Post</button>

    </form>
</div>


{{#each sports as |sport|}}
    <div class="thread-main">
        <h2 class="thread-header">{{sport.title}}</h2>
        <p class="thread-user">Posted by: {{user.name}}</p>
        <h3 class="thread-content">{{sport.description}}</h3>
        <form class='thread-btn' data-postid="{{sport.id}}">
            <textarea class='thread-textarea' 
            placeholder='Add comment here...'></textarea>
            <button type="submit">add comment</button>
        </form>
        <div class='comments'>
            {{#each sport.comments as |comment|}}
            <div class="thread-comments">{{comment.user.name}}: {{comment.content}}</div>
            {{/each}}
        </div>
    </div>
{{/each}}

<script src="/js/comment.js"></script>
<script src="/js/posts.js"></script>